.wrapper{
    margin: 0 auto;
    width: 1100px;
    margin-top: 20px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-47%,-50%);
    z-index: 100;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}
.whole_form {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 65%;
    gap:60px;
}

.whole_form h1 {
    position: absolute;
    top: -50px;
    left: 0;
}

.whole_form p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

.whole_form input {
    position: relative;
    bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
    border-radius: 5px;
    width: 10vw;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.personal_details  {
    position: relative;
    display: flex;
    width: 100%;
    height: 175px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.personal_details div {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 50%;
    width: 25%;
}

.personal_details .lastDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 50%;
    width: 25%;
    bottom: 0;
    left: 30px;
}

.car_details {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.car_details div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
}

.date_picker {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.date_picker div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
}

.form_btn {
    cursor: pointer;
    padding: 10px 55px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: transparent;
    background-color: rgba(2, 62, 138, 0.73);
    color: white;
    transition: 0.2s linear;
}

.form_btn:hover {
    background-color: #023E8A;
}

.right_side {
    display: flex;
    flex-direction: column;
    width: 32%;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.right_side .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #023E8A;
}

.right_side p  {
    padding-left: 10px;
}

.upper span {
    font-weight: bold;
}

.upper .priceForParkingP {
    font-size: 18px;
    font-weight: bold;
}

.upper .priceForParkingSpan {
    font-size: 22px;
    font-weight: bold;
}

.right_side .lower {
    width: 100%;
    height: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF9E00;
}

.lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
}








.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





