.wrapper{
    margin: 0 auto;
    width: 1100px;
    margin-top: 20px;
}

.top_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 20px;
    letter-spacing: 1px;
}
.top_info p {
    text-align: center;
}
.top_info span {
    font-weight: bold;
    font-size: 22px;
}

.summary div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.summary h1 {
    font-size: 24px;
}
.summary p {
    font-size: 14px;
    padding: 5px 0;
}
.summary span {
    font-size: 14px;
    font-weight: bold;
}

.summary .pdf_reference {
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    font-size: 22px;
}
.summary .referenceNumber {
    font-weight: bold;
}

.referenceNumber span {
    font-size: 24px;
}

.pdf_reference a {
    cursor: pointer;
}




