<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sprawdzanie dostępności</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link th:href="@{/css/check.css}" rel="stylesheet" />
</head>
<body>
<header class="header_up">
    <div class="content_header">
        <div class="left">
            <a data-menu="home" class="menu_btn" href="/"><i class="fa-solid fa-house-chimney"></i>Strona główna</a>
            <a data-menu="new" class="menu_btn" href="new"><i class="fa-solid fa-plane-circle-check"></i>Nowa rezerwacja</a>
            <a data-menu="avail" class="menu_btn" href="check"><i class="fa-solid fa-eye"></i>Znajdź moja rezerwacje</a>
        </div>

        <div class="right">
            <img class="logo" th:src="@{/images/car.png}" />
            <p>Parking Rental</p>
        </div>
    </div>
</header>


<main>
    <form th:action="@{/check}" method="get">
        <input placeholder="podaj id" name="reference_number">
        <button type="submit">click</button>
    </form>

<!--    <p>Lista wszystkich zamówień:</p>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>Imię</tr>-->
<!--        <tr>Nazwisko</tr>-->
<!--        <tr>Data rozpoczęcia</tr>-->
<!--        <tr>Data zakończenia</tr>-->
<!--        <tr>Miejsce parkingowe</tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr th:each="order: ${orderList}">-->
<!--            <td><span th:text="${order.firstName}"></span></td>-->
<!--            <td><span th:text="${order.lastName}"></span></td>-->
<!--            <td><span th:text="${order.startDate}"></span></td>-->
<!--            <td><span th:text="${order.endDate}"></span></td>-->
<!--            <td><span th:text="${order.getParkingSpot().getId()}"></span></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->


<!--    <h1>Testuje tutaj: <span th:text="${szymon.firstName!=null}? ${szymon.firstName}:''" ></span></h1>-->

    <div th:unless="${order.firstName==null}" class="divek">
        <h1>Rezerwacja: </h1>
        <p>Imię i nazwisko: <span th:text="${order.firstName}"></span> <span th:text="${order.lastName}"></span></p>
        <p>Numer zamówienia: <span th:text="${order.referenceNubmer}"></span></p>
    </div>
</main>





</body>
<script type="text/javascript"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script>
   flatpickr("input[type=datetime-local]", {});
</script>
</html>