<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Rental - Strona główna</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet" />
</head>
<body>

<header class="header_up">
    <div class="content_header">
        <div class="left">
            <a data-menu="home" class="menu_btn" href="/"><i class="fa-solid fa-house-chimney"></i>Strona główna</a>
            <a data-menu="new" class="menu_btn" href="new"><i class="fa-solid fa-plane-circle-check"></i>Nowa rezerwacja</a>
            <a data-menu="avail" class="menu_btn" href="check"><i class="fa-solid fa-eye"></i>Znajdź moja rezerwacje</a>
        </div>

        <div class="right">
            <img class="logo" th:src="@{/images/car.png}" />
            <p>Parking Rental</p>
        </div>
    </div>
</header>


</body>
<script type="text/javascript"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
</html>