<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ParkingRental - Warszawa</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/car.png}" >
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link th:href="@{/css/summary.css}" rel="stylesheet" />
</head>
<body>
<header class="header_up">
    <div class="content_header">
        <div class="left">
            <a data-menu="home" class="menu_btn" href="/"><i class="fa-solid fa-house-chimney"></i>Strona główna</a>
            <a data-menu="new" class="menu_btn" href="/new-reservation"><i class="fa-solid fa-plane-circle-check"></i>Nowa rezerwacja</a>
            <a data-menu="avail" class="menu_btn" href="/check-reservation"><i class="fa-solid fa-eye"></i>Znajdź moja rezerwacje</a>
        </div>

        <div class="right">
            <img class="logo" th:src="@{/images/car.png}" />
            <p>Parking Rental</p>
        </div>
    </div>
</header>
<header class="header_down">
    <div class="content_header_down">
        <span class="currentTime"></span>
        <p class="currentWeather"> <span th:text="${currentWeather}"></span></p>
    </div>
</header>
<div class="wrapper">
    <section class="top_info">
        <p>Rezerwacja została utworzona i potwierdzona przez Nas system.</p>
    </section>

    <main class="summary">
            <div class="pdf_reference">
                <p class="referenceNumber">Numer rezerwacji: <span th:text="${orderDTO.referenceNumber}"></span></p>
                <a th:href="@{pdf/{id}(id=${orderDTO.referenceNumber})}"><i class="fa-solid fa-file-pdf"></i> Pobierz potwierdzenie rezerwacji</a>
            </div>
            <div class="personal_details">
                <h1><i class="fa-solid fa-circle-user"></i> Dane osobowe</h1>
                <p>Imię: <span th:text="${orderDTO.firstName}"></span></p>
                <p>Nazwisko: <span th:text="${orderDTO.lastName}"></span></p>
                <p>Adres email: <span th:text="${orderDTO.emailAddress}"></span></p>
                <p>Numer telefonu: <span th:text="${orderDTO.telNum}"></span> </p>
            </div>

            <div class="car_details">
                <h1><i class="fa-solid fa-car-on"></i> Dane samochodu</h1>
                <p>Marka samochodu: <span th:text="${orderDTO.carMark}"></span></p>
                <p>Nr. rejestracyjny: <span th:text="${orderDTO.carPlate}"></span></p>
            </div>

            <div class="dates">
                <h1><i class="fa-solid fa-square-parking"></i> Dane podróży</h1>
                <p>Numer miejsca parkingowego: <span th:text="${orderDTO.parkingSpot.id}"></span></p>
                <p>Data rozpoczęcia: <span th:text="${orderDTO.startDateAsString}"></span></p>
                <p>Data zakończenia: <span th:text="${orderDTO.endDateAsString}"></span></p>
                <p>Ilość dni: <span th:text="${orderDTO.days}"></span></p>
                <p>Cena: <span th:text="${orderDTO.price}"></span> PLN</p>
            </div>
    </main>
</div>
</body>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
</html>