<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>summary</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <link th:href="@{/css/all.css}" rel="stylesheet" />
</head>
<body>
<header class="header_up">
    <div class="content_header">
        <div class="left">
            <a data-menu="home" class="menu_btn" href="/"><i class="fa-solid fa-house-chimney"></i>Strona główna</a>
            <a data-menu="new" class="menu_btn" href="new"><i class="fa-solid fa-plane-circle-check"></i>Nowa rezerwacja</a>
            <a data-menu="avail" class="menu_btn" href="check"><i class="fa-solid fa-eye"></i>Znajdź moja rezerwacje</a>
        </div>

        <div class="right">
            <img class="logo" th:src="@{/images/car.png}" />
            <p>Parking Rental</p>
        </div>
    </div>
</header>


<h1>To jest strona z podsumowaniem</h1>
<p th:text="${orderDTO.referenceNubmer}"></p>

</body>
</html>